/* About.css */
.about {
    padding-bottom: 1em;
}

.about .title::after {
    content: "¿quién soy?";
}

.about-content .column.left {
    width: 45%;
}

.about-content .column.left img {
    height: 550px;
    width: 400px;
    object-fit: cover;
    border-radius: 15px;
}

.about-content .column.right {
    width: 55%;
    font-size: 2vw;
}

.about-content .column.right p {
    text-align: justify;
}

/* Title */
.about-content .column.right div {
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 10px;
}

.about-content .column.right div span {
    color: crimson;
}

/* Button */
.about-content .column.right a {
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 1.3em;
    font-weight: 600;
    padding: 0.5em 1.2em;
    margin-top: 1.2em;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.about-content .column.right a:hover {
    color: crimson;
    background: none;
}

@media (max-width: 1100px) {
    .about-content .column.left img {
        height: 500px;
        width: 350px;
    }
}

@media (max-width: 950px) {
    .about div {
        max-width: 800px;
    }

    .about-content {
        width: 100%;
    }

    .about-content .column.left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about-content .column.right {
        flex: 100%;
        font-size: 22px;
    }
}

@media (max-width: 500px) {
    .about-content .column.right {
        font-size: 22px;
    }
}
@media (max-width: 690px) {
    .about .max-width {
      padding: 0 2.5em;
    }
}